/* Style the header with a grey background and some padding */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'spartan',sans-serif;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    left: 0;
  }
  h1{
    font-size: 50px;
    line-height: 60;
    color:#222;
  }
  h2{
    font-size: 40px;
    line-height: 50;
    color:#222;
  }
  h4{
    font-size: 20px;
    color: #222;
  }
  h6{
    font-weight: 700;
    font-size: 12px;
    font-style: bold;
  }

  #bold{
    font-size: bold;
  }
  .section-1{
    padding: 40px 80px;
  }
  .section-2{
    margin: 40px 0;

  }
  .body{
    width: 100%;
  }
   button.normal{
  font-size: 10px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
   }




  #feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 80px;
  }

  #feature .fe-box{
    width: 150px;
    text-align: center;
    padding: 25px 25px; 
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 2px;
    margin: 15px 0;
  }
  #feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.3);
  }
 #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
   
  }
  #feature .fe-box img{
    width: 100px;
    margin-bottom: 10px;
  }
  /* Style the header links */
  .header a {
    float: left;
    color: rgb(56, 23, 1);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    
  }
  #feature .fe-box:nth-child(1) h6{
    background-color: rgb(242, 190, 184);
  }
  #feature .fe-box:nth-child(2) h6{
    background-color: rgb(206, 223, 173);
  }
  #feature .fe-box:nth-child(3) h6{
    background-color:rgb(244, 133, 152) ;
  }
  #feature .fe-box:nth-child(5) h6{
    background-color:rgb(179, 179, 240) ;
  }


  #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background-image: url("img/banner.png");
    background-size: covwer;
    background-position: center;  
  }
  #banner h4{
    color: #fff;
    font-size: 16px;
  }
  #banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
  }
  #banner button:hover{
    background: #088178;
    color:#fff ;
  }
 
  .colour{
    color: red;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 45px;
    font-weight: bold;
   
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color:#ddd;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  #product1{
    text-align:cente;
}
.pro-cont{
    display: flex;
    justify-content: center;
}
#product1 .pro {
    width: 23%;
    min-width :250px;
    padding:10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor:pointer;
    /* box-shadow: 20px 20px rgb(0, 0, 0.2); */
    margin: 15px ;
    transition: 0.2s ease;
}

 

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

  /* feture section */
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


  @media (max-width:799px) {
    .header {
      position:fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 300px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
      position: sticky;
      top: 0;
      left: 0;
      
  }
  }



  /* Contect  Page*/
  
  #contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #contact-details .details{
    width: 40px;
   }
   #contact-details .details span{
    font-size: 12px;
   }
   #contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px;

   }

   #contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
   }
  #contact-details .map{
width: 55%;
height: 100%;
  }
  #contact-details .map iframe{
      width: 100%;
      height: 100%;
  }
#contact-details .details{
  width: 40%;
}
#contact-details .details li{
  list-style: none;
  display: flex;
  padding:10px 0 ;
}
#contact-details .details li i{
 font-size: 10px;
 padding: 22px;
}
#contact-details .details li p{
 margin: 0;
 font-size: 10px;
}
#contact-details .details h2{
  font-size: 26px;
  line-height: 36px;
  padding: 20px;
}
#contact-details .details h3{
 font-size: 16px;
 padding-bottom: 16px;

}
#contact-details .details span{
  font-size: 12px;
}


/* About */
#about-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  background-image: url("img/banner2.jpg");
  background-size: covwer;
  background-position: center;  
}
#about-banner h2{
  color: #fff;
}
  

  